<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">

    <title>Good Car-Ma</title>
</head>
<body>
<form action="order">
    <div class="container">
        <div class="form-group">
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ @BASE }}">Home</a>
        </nav>
        </div>
        <div class="container-fluid">
            <div>
                <img src="images/cars.jpg" alt="cars" id="car">
            </div>
            <h1>Good Car-Ma</h1>
        </div>

    </div>
</form>
</body>
</html>