<!DOCTYPE html>
<html lang="en">
<head>
    <title>Good Car-Ma</title>
    <include href="includes/header.htm"></include>
</head>
<body>
<form action="personal">
    <div class="container border border-dark">
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ @BASE }}">Home</a>
        </nav>
        <h1>Good Car-Ma</h1>
        <div class="row">
            <div id="para" class="form-group col-4">
            <p>Welcome to Good Car-Ma! Looking for a way to advertise your car?
            You have come to the right place. Here at Good-Car-Ma you can build your dream car or
            create a car you already own. Forty years of helping customers like you, find their way to their dream
            car. There is a car for everyone. Let us help you find yours today!</p>
            <br>
            <br>
            <button type="submit" class="btn btn-primary" id="button">Get Started</button>
            </div>
            <div class="form-group col-8">
                <img src="images/cars.jpg" alt="cars" id="car">
            </div>
        </div>
        <include href="includes/footer.html"></include>
    </div>
</form>
</body>
</html>
