<!DOCTYPE html>
<html lang="en">
<head>
    <include href="includes/header.htm"></include>
    <title>Summary</title>
</head>
<body>
<form action="personal">
    <div class="container border border-dark">
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ @BASE }}">Home</a>
        </nav>
        <br>
        <h2>Thank you for completing our form</h2>
        <h4>Here are your motorcycle features</h4>
        <div class="row">
            <div class="col-6">
                <div class="card" style="width: 34rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Name: {{ @SESSION.userInfo->getFname() }} {{ @SESSION.userInfo->getLname() }}</li>
                        <li class="list-group-item">Age: {{ @SESSION.userInfo->getAge() }}</li>
                        <li class="list-group-item">Phone: {{ @SESSION.userInfo->getPhone() }}</li>
                        <li class="list-group-item">Email: {{ @SESSION.userInfo->getEmail() }}</li>
                        <li class="list-group-item">Model: {{ @SESSION.motorcycle->getModel() }}</li>
                        <li class="list-group-item">Make: {{ @SESSION.motorcycle->getMake() }}</li>
                    </ul>
                </div>
            </div>
            <div class="col-6">
                <div class="card" style="width: 34rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Year: {{ @SESSION.motorcycle->getYear() }}</li>
                        <li class="list-group-item">Color:{{ @SESSION.motorcycle->getColor() }}</li>
                        <li class="list-group-item">Engine: {{ @SESSION.motorcycle->getEngine() }}</li>
                        <li class="list-group-item">Transmission: {{ @SESSION.motorcycle->getTransmission() }}</li>
                        <li class="list-group-item">Seats: {{ @SESSION.motorcycle->getNumSeats() }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class= "form-group" id="btn">
            <button type="submit" class="btn btn-primary" id="button">Create new vehicle</button>
        </div>
    </div>
</form>
</body>
</html>